
.icon-facebook:before { content: '\e800'; } /* '' */
.icon-googleplus:before { content: '\e801'; } /* '' */
.icon-twitter:before { content: '\e802'; } /* '' */
.icon-email:before { content: '\e803'; } /* '' */
.icon-print:before { content: '\e804'; } /* '' */
.icon-share:before { content: '\e805'; } /* '' */
.icon-linkedin:before { content: '\e806'; } /* '' */